<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-school"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SIAKAD</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if page_active == 'dashboard' %}active {% endif %}">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <li class="nav-item {% if page_active == 'daftar_mahasiswa' %} active {% endif %}">
        <a class="nav-link" href="{{ url_for('mahasiswa.daftar_mahasiswa') }}">
            <i class="fas fa-fw fa-graduation-cap"></i>
            <span>Mahasiswa</span></a>
    </li>
    <li class="nav-item {% if page_active == 'users' %} active {% endif %}">
        <a class="nav-link" href="{{ url_for('usersapp.users') }}">
            <i class="fas fa-fw fa-users"></i>
            <span>Users</span></a>
    </li>

    



</ul>